<!DOCTYPE html>
<html>

<head>

    <title>Demo</title>
    <h1>Singing Mode</h1>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/styles/demo.css">

</head>

<body>
    <img src="../static/images/Annotated/demo7.png" alt="demo1" id="im1">

    <a href="../templates/singing.html" class="nextButton" id="nextButton">Next</button>

     
</body>

</html>